.modalBackground {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.container {
    position: absolute;
    width: 330px;
    height: 370px;
    left: 42px;
    top: 170px;
    z-index: 2;

    background: #FFFFFF;
    border-radius: 18px;
}

.wordTitle {
    position: absolute;
    width: 148.05px;
    height: 58px;
    left: 30px;
    top: 20px;
    text-align: left;
}

.wordKoreanTitle {
    position: absolute;
    width: 105px;
    height: 36px;
    top: 18px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 22px;
    line-height: 27px;

    color: #000000;
}

.wordPronunciation {
    position: absolute;
    width: 148.05px;
    height: 28px;
    top: 30px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;

    color: #000000;
}

.scrap {
    position: absolute;
    width: 51px;
    height: 51px;
    left: 220px;
    padding-left: 7px;
    padding-top: 7px;
    background: #FFFFFF;
    border: 2.37209px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10.6744px 10.6744px 18.9767px rgba(177, 200, 244, 0.6), -10.6744px -10.6744px 18.9767px rgba(255, 255, 255, 0.6);
    border-radius: 23.7209px;
}

.wordTranslation {
    position: absolute;
    width: 270px;
    height: 120px;
    top: 90px;
    left: 20px;

    background: #F2F7FF;
    border-radius: 10.0741px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
}

.wordButton {
    position: absolute;
    top: 230px;
    width: 330px;
}

.chatGptButton {
    background: linear-gradient(132.52deg, #B5CCF9 -0.88%, #6C99F0 126.31%);
    border-radius: 18px;
    border: none;
    position: absolute;
    width: 140px;
    height: 123px;
    left: 20px;

    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;
}

.BuddyButton {
    background: linear-gradient(132.52deg, #B5CCF9 -0.88%, #6C99F0 126.31%);
    border-radius: 18px;
    border: none;
    position: absolute;
    width: 140px;
    height: 123px;
    left: 170px;

    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;
}

.chatGPTQuestion {
    position: absolute;
    width: 259px;
    height: 50px;
    left: 20px;
    top: 60px;

    background: #0980D0;
    border-radius: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    text-align: left;
    padding: 15px;

    color: #FFFFFF;
}

.chatGptLogo {
    position: absolute;
    width: 40px;
    height: 35px;
    left: 23px;
    top: 150px;
}

.chatGPTAnswer {
    box-sizing: border-box;

    position: absolute;
    width: 290px;
    height: 150px;
    left: 20px;
    top: 200px;

    background: #FFFFFF;
    border: 1px solid #0980D0;
    border-radius: 5px;

    overflow: scroll;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: left;

    padding: 5px;

    color: #000000;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.chatGptTitle {
    position: absolute;
    top: 20px;
    width: 330px;
}

.leftArrow {
    position: absolute;
    left: 8%;
    top: 7px;
    border: none;
    background-color: transparent;
}

.leftArrowImg {
    width: 8px;
    height: 8px;
}

.chatGptTitleName {
    position: absolute;
    width: 43px;
    height: 24px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    letter-spacing: 0.065em;

    left: 43%;
    color: #000000;
}
