.container {
    position: relative;
    width: 100%;
    height: 915px;
    background: url("../../../../public/assets/Background/exchange_diary_background.png");
    overflow: hidden;
}

.diary {
    position: absolute;
    width: 507px;
    height: 584px;
    left: calc(50% - 507px/2 + 0.5px);
    top: calc(50% - 584px/2 + 18px);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    animation-duration: 2s !important;
}

.diaryTitle {
    position: absolute;
    width: 247px;
    height: 77px;
    top: 70px;
    left: 150px;

    background: #FFFFFF;
    border: 3px solid #FD9418;
    border-radius: 15px;
}

.diaryTitleText {
    position: absolute;
    width: 120px;
    height: 41px;
    left: 68px;
    top: -12px;

    font-family: 'KCC-Ganpan';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.button {
    display: flex;
    width: 130px;
    height: 15px;
    padding: 17px 65px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFEDD8;
    text-decoration: none;
    color: #F58A4E;
    font-weight: bold;
    font-size: 20px;

}

.button_view {
    position: absolute;
    top: 325px;
    left: 145px;
}

.button_write {
    position: absolute;
    top: 380px;
    left: 145px;
}

.diaryCharacterImg {
    position: absolute;
    width: 113px;
    height: 60.17px;
    left: 150px;
    top: 275px;
}

.modalContainer {
    position: absolute;
    width: 330px;
    height: 280px;
    left: 42px;
    top: 232px;
    z-index: 1;

    background: linear-gradient(180deg, #FFD88D 0%, #FFFFFF 50.31%);
    border-radius: 18px;
    box-shadow: 4px 4px 16px rgba(181, 178, 178, 0.25), -4px -4px 16px #F0FFF3;

}

.modalText {
    position: absolute;
    top: 140px;
    left: 98px;
    font-family: 'KCC-Ganpan';
    font-size: 20px;
}

.modalImg {
    position: absolute;
    top: 60px;
    left: 130px;
}