.quizContainer{
  /* background-color: red; */
  margin: 40px 20px 0;
}

.textArea{
  text-align: start;
  padding-left: 11px;
}

.textArea p{
  margin: 0;
  font-size: 14px;
}

.titleFont{
  font-size: 20px  !important;
  font-weight: bold !important;
  /* text-align: start; */
  /* padding-left: 11px; */
}

