.backButtonDiv {
    background-color: #ffffff;
    width: 412px;
    height: 111px;
}

.leftArrow {
    width: 32.94px;
    height: 37.23px;
    border: none;
    background-color: transparent;

    position: absolute;
    left: 20px;
    top: 60px;
}

.backButtonText {
    position: absolute;
    top: 67px;
    left: 167px;

    width: 90px;
    height: 24px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.065em;

    color: #000000;
}