.display {
    display: flex;
    margin-top: 18px;
}

.blueBtn {
    width: 103px;
    height: 41px;
    border: none;
    font-weight: bold;
    margin-left: 20px;
    font-size: 16px;
    color: #FFFFFF;
    background: linear-gradient(132.52deg, #B5CCF9 -0.88%, #6C99F0 126.31%);
    border-radius: 81.2143px;
}

.whiteBtn {
    width: 103px;
    height: 41px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: #6C99F0;
    margin-left: 20px;
    box-shadow: 0px 10px 20px #B5CCF9;
    background-color: #FFFFFF;
    border-radius: 81.2143px;
}