.wordBtn {
    padding: 15px 21px;
    width: 348px;
    height: 56px;
    margin-top: 26px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 10px 20px #B5CCF9;
    border-radius: 18px;
}
.wordWrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.wordBold {
    font-weight: bold;
    font-size: 18px;
}

.wordRight {
    font-size: 18px;
}

