.news-container {
    display: flex;
}

.news-number-box {
    width: 7px;
    padding: 3px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: #0980D0;   
}

.news-number {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
