.topContainer {
    position: relative;
    width: 412px;
    height: 104px;
    box-shadow: 4px 4px 16px rgba(181, 178, 178, 0.25), -4px -4px 16px #F0FFF3;
}

.leftWrap {
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 21.903px;
    transform: translate(-10%, -70%);
}

.rightWrap {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: 20px;
}

.middleContainer {
    position: relative;
    width: 350px;
    height: 168px;
    flex-shrink: 0;
    border-radius: 18px;
    background: var(--mainBlue, rgba(203, 220, 253, 0.79));
    margin: 17px auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.wrapContainer {
    padding: 10px 32px;
}

.middleTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
}

.fontContainer {
    display: flex;
    padding-top: 30px;
    align-items: flex-end;
}
.fontBrContainer {
    display: flex;
    margin-left: 32px;
    align-items: flex-end;
}

.topLeftFont {
    color: #2C432E;
    font-size: 20px;
}

.topRightFont {
    color: #2C432E;
    font-size: 14px;
}

.soundContainer {
    margin-left: 41px;
    width: 51px;
    height: 51px;
    /* margin-bottom: 0px; */
    margin-top: 30px;
    background: #FFFFFF;
    border: 2.37209px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10.6744px 10.6744px 18.9767px rgba(177, 200, 244, 0.6), -10.6744px -10.6744px 18.9767px rgba(255, 255, 255, 0.6);
    border-radius: 23.7209px;
}

.soundImg {
    width: 27.5px;
    height: 20.119px;
}

.askButton {
    width: 286px;
    height: 39px;
    margin-top: 18px;
    display: inline-flex;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 60px;
    background: var(--blueBtn, linear-gradient(133deg, #B5CCF9 -0.88%, #6C99F0 126.31%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.askFont {
    color: #FFF;
    font-size: 16px;
}

.container {
    position: relative;
    width: 350px;
    height: 168px;
    flex-shrink: 0;
    border-radius: 18px;
    margin: 17px auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    fill: rgba(0, 0, 0, 0.40);
}