.displayPlus {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.displayPlusFont{
    font-weight: bold;
    font-size: 20px;
}
.displayPlusRightFont{
    font-size: 14px;
    margin-left: 190px;
    align-items: flex-end;
}

.font {
    margin-left: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.display{
    margin-top: 42px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
}

.newsAbout {
    font-size: 22px;
    font-weight: 300;
}

.word {
    color: #0980D0;
    font-size: 32px;
    font-weight: 700;
}

.line {
    margin: 30px 20px;
    border-top: 1px solid #0980D0;
}